# Aggregating streaming data from Spotify
We now have 2800 csv files with weekly streaming data from the top 200 artists on Spotify. In this notebook we will look over the csv's to retrieve the weekly sum of streams and save it per country/week. Finally we save this data in a pickle.

In [2]:
import os

import pandas as pd

In [3]:
base = os.path.join("..", "01.raw_data", "spotify")

def aggregate_csv_streams(country):
    """Returns list with sum of weekly streams per country."""
    
    # Get filenames in directory
    country_base = os.path.join(base, country)
    filenames = [filename for filename in os.listdir(country_base)]
    data = []
    
    # Import all the csv data
    for filename in filenames:
        # filename format 2018-08-24--2018-08-31.csv
        date = filename.split("--")[0]
        
        # We use a try-except because certain files seem bogus
        try:
            df = pd.read_csv(os.path.join(country_base, filename), header=1)
            data.append({"country": country,
                         "date": date,
                         "streams": df["Streams"].sum()})
        except pd.errors.ParserError: 
            print(f"{country} - {date}")
    
    return data

In [4]:
# For every country we take the data from the csv files. 
# The result will be a list of dictionaryies containing 
# country, week and num streams.
# We use the append method because a list comprehension 
# might use too much memory

data = []
for country in os.listdir(base):
    if (os.path.isdir(os.path.join(base, country)) 
            and not country.startswith(".")):
        data.extend(aggregate_csv_streams(country))

# Turns out there is no data for HR, MT and SI

hr - 2018-08-24
hr - 2018-08-31
hr - 2018-09-07
hr - 2018-09-14
hr - 2018-09-21
hr - 2018-09-28
hr - 2018-10-05
hr - 2018-10-12
hr - 2018-10-19
hr - 2018-10-26
hr - 2018-11-02
hr - 2018-11-09
hr - 2018-11-16
hr - 2018-11-23
hr - 2018-11-30
hr - 2018-12-07
hr - 2018-12-14
hr - 2018-12-21
hr - 2018-12-28
hr - 2019-01-04
hr - 2019-01-11
hr - 2019-01-18
hr - 2019-01-25
hr - 2019-02-01
hr - 2019-02-08
hr - 2019-02-15
hr - 2019-02-22
hr - 2019-03-01
hr - 2019-03-08
hr - 2019-03-15
hr - 2019-03-22
hr - 2019-03-29
hr - 2019-04-05
hr - 2019-04-12
hr - 2019-04-19
hr - 2019-04-26
hr - 2019-05-03
hr - 2019-05-10
hr - 2019-05-17
hr - 2019-05-24
hr - 2019-05-31
hr - 2019-06-07
hr - 2019-06-14
hr - 2019-06-21
hr - 2019-06-28
hr - 2019-07-05
hr - 2019-07-12
hr - 2019-07-19
hr - 2019-07-26
hr - 2019-08-02
hr - 2019-08-09
hr - 2019-08-16
hr - 2019-08-23
hr - 2019-08-30
hr - 2019-09-06
hr - 2019-09-13
hr - 2019-09-20
hr - 2019-09-27
hr - 2019-10-04
hr - 2019-10-11
hr - 2019-10-18
hr - 2019-10-25
hr - 2019-11-01
hr - 2019-11-08
hr - 2019-11-15
hr - 2019-11-22
hr - 2019-11-29
hr - 2019-12-06
hr - 2019-12-13
hr - 2019-12-20
hr - 2019-12-27
hr - 2020-01-03
hr - 2020-01-10
hr - 2020-01-17
hr - 2020-01-24
hr - 2020-01-31
hr - 2020-02-07
hr - 2020-02-14
hr - 2020-02-21
hr - 2020-02-28
hr - 2020-03-06
hr - 2020-03-13
hr - 2020-03-20
hr - 2020-03-27
hr - 2020-04-03
hr - 2020-04-10
hr - 2020-04-17
hr - 2020-04-24
hr - 2020-05-01
hr - 2020-05-08
hr - 2020-05-15
hr - 2020-05-22
hr - 2020-05-29
hr - 2020-06-05
hr - 2020-06-12
hr - 2020-06-19
hr - 2020-06-26
hr - 2020-07-03
hr - 2020-07-10
hr - 2020-07-17
hr - 2020-07-24
hr - 2020-07-31
hr - 2020-08-07
hr - 2020-08-14
mt - 2018-08-24
mt - 2018-08-31
mt - 2018-09-07
mt - 2018-09-14
mt - 2018-09-21
mt - 2018-09-28
mt - 2018-10-05
mt - 2018-10-12
mt - 2018-10-19
mt - 2018-10-26
mt - 2018-11-02
mt - 2018-11-09
mt - 2018-11-16
mt - 2018-11-23
mt - 2018-11-30
mt - 2018-12-07
mt - 2018-12-14
mt - 2018-12-21
mt - 2018-12-28
mt - 2019-01-04
mt - 2019-01-11
mt - 2019-01-18
mt - 2019-01-25
mt - 2019-02-01
mt - 2019-02-08
mt - 2019-02-15
mt - 2019-02-22
mt - 2019-03-01
mt - 2019-03-08
mt - 2019-03-15
mt - 2019-03-22
mt - 2019-03-29
mt - 2019-04-05
mt - 2019-04-12
mt - 2019-04-19
mt - 2019-04-26
mt - 2019-05-03
mt - 2019-05-10
mt - 2019-05-17
mt - 2019-05-24
mt - 2019-05-31
mt - 2019-06-07
mt - 2019-06-14
mt - 2019-06-21
mt - 2019-06-28
mt - 2019-07-05
mt - 2019-07-12
mt - 2019-07-19
mt - 2019-07-26
mt - 2019-08-02
mt - 2019-08-09
mt - 2019-08-16
mt - 2019-08-23
mt - 2019-08-30
mt - 2019-09-06
mt - 2019-09-13
mt - 2019-09-20
mt - 2019-09-27
mt - 2019-10-04
mt - 2019-10-11
mt - 2019-10-18
mt - 2019-10-25
mt - 2019-11-01
mt - 2019-11-08
mt - 2019-11-15
mt - 2019-11-22
mt - 2019-11-29
mt - 2019-12-06
mt - 2019-12-13
mt - 2019-12-20
mt - 2019-12-27
mt - 2020-01-03
mt - 2020-01-10
mt - 2020-01-17
mt - 2020-01-24
mt - 2020-01-31
mt - 2020-02-07
mt - 2020-02-14
mt - 2020-02-21
mt - 2020-02-28
mt - 2020-03-06
mt - 2020-03-13
mt - 2020-03-20
mt - 2020-03-27
mt - 2020-04-03
mt - 2020-04-10
mt - 2020-04-17
mt - 2020-04-24
mt - 2020-05-01
mt - 2020-05-08
mt - 2020-05-15
mt - 2020-05-22
mt - 2020-05-29
mt - 2020-06-05
mt - 2020-06-12
mt - 2020-06-19
mt - 2020-06-26
mt - 2020-07-03
mt - 2020-07-10
mt - 2020-07-17
mt - 2020-07-24
mt - 2020-07-31
mt - 2020-08-07
mt - 2020-08-14
si - 2018-08-24
si - 2018-08-31
si - 2018-09-07
si - 2018-09-14
si - 2018-09-21
si - 2018-09-28
si - 2018-10-05
si - 2018-10-12
si - 2018-10-19
si - 2018-10-26
si - 2018-11-02
si - 2018-11-09
si - 2018-11-16
si - 2018-11-23
si - 2018-11-30
si - 2018-12-07
si - 2018-12-14
si - 2018-12-21
si - 2018-12-28
si - 2019-01-04
si - 2019-01-11
si - 2019-01-18
si - 2019-01-25
si - 2019-02-01
si - 2019-02-08
si - 2019-02-15
si - 2019-02-22
si - 2019-03-01
si - 2019-03-08
si - 2019-03-15
si - 2019-03-22
si - 2019-03-29
si - 2019-04-05
si - 2019-04-12
si - 2019-04-19
si - 2019-04-26
si - 2019-05-03
si - 2019-05-10
si - 2019-05-17
si - 2019-05-24
si - 2019-05-31
si - 2019-06-07
si - 2019-06-14
si - 2019-06-21
si - 2019-06-28
si - 2019-07-05
si - 2019-07-12
si - 2019-07-19
si - 2019-07-26
si - 2019-08-02
si - 2019-08-09
si - 2019-08-16
si - 2019-08-23
si - 2019-08-30
si - 2019-09-06
si - 2019-09-13
si - 2019-09-20
si - 2019-09-27
si - 2019-10-04
si - 2019-10-11
si - 2019-10-18
si - 2019-10-25
si - 2019-11-01
si - 2019-11-08
si - 2019-11-15
si - 2019-11-22
si - 2019-11-29
si - 2019-12-06
si - 2019-12-13
si - 2019-12-20
si - 2019-12-27
si - 2020-01-03
si - 2020-01-10
si - 2020-01-17
si - 2020-01-24
si - 2020-01-31
si - 2020-02-07
si - 2020-02-14
si - 2020-02-21
si - 2020-02-28
si - 2020-03-06
si - 2020-03-13
si - 2020-03-20
si - 2020-03-27
si - 2020-04-03
si - 2020-04-10
si - 2020-04-17
si - 2020-04-24
si - 2020-05-01
si - 2020-05-08
si - 2020-05-15
si - 2020-05-22
si - 2020-05-29
si - 2020-06-05
si - 2020-06-12
si - 2020-06-19
si - 2020-06-26
si - 2020-07-03
si - 2020-07-10
si - 2020-07-17
si - 2020-07-24
si - 2020-07-31
si - 2020-08-07
si - 2020-08-14

In [5]:
# Check how much data we have now
len(data)

2600

In [6]:
# Save in dataframe and convert date type
df = pd.DataFrame(data)
df["date"] = pd.to_datetime(df["date"])
df.head()

  country       date   streams
0      at 2018-08-24  10301612
1      at 2018-08-31   9508616
2      at 2018-09-07   9717264
3      at 2018-09-14   9794815
4      at 2018-09-21   9570905

In [7]:
# 2 Lists to convert 2 letter codes to 3 letter codes
countries = "AUT, BEL, BGR, HRV, CYP, CZE, \
                DNK, EST, FIN, FRA, DEU, GRC, \
                HUN, IRL, ITA, LVA, LTU, LUX, \
                MLT, NLD, POL, PRT, ROU, SVK, \
                SVN, ESP, SWE, GBR"
iso3 = [c.strip() for c in countries.split(", ")]
iso2 = ['AT', 'BE', 'BG', 'HR', 'CY', 'CZ', 
        'DK', 'EE', 'FI', 'FR', 'DE', 'GR', 
        'HU', 'IE', 'IT', 'LV', 'LT', 'LU', 
        'MT', 'NL', 'PL', 'PT', 'RO', 'SK', 
        'SI', 'ES', 'SE', 'GB']
replacement = {k: v for k, v in zip(iso2, iso3)}

df["country"] = df["country"].str.upper().replace(replacement)
df.head()

  country       date   streams
0     AUT 2018-08-24  10301612
1     AUT 2018-08-31   9508616
2     AUT 2018-09-07   9717264
3     AUT 2018-09-14   9794815
4     AUT 2018-09-21   9570905

In [8]:
# Pivot the table to have the weeks as index and streams per country column
df = df.pivot(index="date", columns=["country"])

In [9]:
# Add a column with the mean of all countries per week
df["mean"] = df.mean(axis=1).astype(int)

In [10]:
# Export to pickle and csv
df.to_pickle("aggregated_country_streams.pkl")
df.to_csv("aggregated_country_streams.csv")

In [11]:
df.head()

             streams                                                           \
country          AUT       BEL      BGR     CYP      CZE        DEU       DNK
date
2018-08-24  10301612  12348795   985485  328417  4869155  142899503  24716696
2018-08-31   9508616  12634840  1136095  384379  5207132  148764686  25975199
2018-09-07   9717264  12538824  1043073  340697  5010547  142763299  26251701
2018-09-14   9794815  12994948  1011482  365756  5432395  151528074  26286642
2018-09-21   9570905  12930082   971304  358192  5362867  148899467  25622860
...              ...       ...      ...     ...      ...        ...       ...
2020-07-17  12421511  18756779  1652278  672939  8650267  192973906  24857104
2020-07-24  13113467  17877532  1655013  653948  8489350  204359911  24002152
2020-07-31  12969684  18737612  1623495  648896  8505070  210775980  27628788
2020-08-07  12687619  18352306  1640165  661870  8616465  200822741  27084223
2020-08-14  12145822  17885290  1652316  640447  9339769  188445427  27440200

                                          ...                             \
country           ESP      EST       FIN  ...      LTU      LUX      LVA
date                                      ...
2018-08-24   98020022  1438969  21122683  ...  1420563   736943  1507392
2018-08-31   98106210  1498797  21368063  ...  1465384   796085  1629058
2018-09-07   93060881  1435962  21121857  ...  1428749   775400  1602453
2018-09-14   92130930  1402195  21057084  ...  1434227   800165  1603317
2018-09-21   92773802  1377288  20912984  ...  1381935   812493  1558056
...               ...      ...       ...  ...      ...      ...      ...
2020-07-17  129972855  1604794  18995322  ...  2023396  1098099  1756952
2020-07-24  133557551  1622579  18116061  ...  1944948  1073889  1722492
2020-07-31  129858215  1610297  17813467  ...  2018704  1068540  1720200
2020-08-07  125794563  1585776  17499311  ...  2032788  1048094  1720678
2020-08-14  123711360  1725151  17944455  ...  2049388  1015371  1742771

                                                                          mean
country          NLD       POL       PRT      ROU      SVK       SWE
date
2018-08-24  67114943  25430818   8730023  1958986  1745234  51913587  31920100
2018-08-31  75928950  24843040   9444484  2391996  2024877  55020209  33699774
2018-09-07  80271104  24352976   9183448  2108987  1975851  52755183  33092277
2018-09-14  79581894  24416983   9055023  2152635  1982482  53277596  33763708
2018-09-21  78606490  24437330   9494344  2138312  1969050  52795704  33819316
...              ...       ...       ...      ...      ...       ...       ...
2020-07-17  79974559  46932600  12428079  4881788  3702849  51264443  42249122
2020-07-24  77735951  46899327  12499879  4717513  3551557  48374556  42651138
2020-07-31  77669240  46117945  12343812  4629858  3566775  49724046  42109898
2020-08-07  74686908  46965173  12326090  4636635  3936437  49391231  41011437
2020-08-14  71135506  44895898  12158946  4635551  3897119  48593257  39585137

[104 rows x 26 columns]