In [1]:
import requests
import json
import os

import pandas as pd

In [2]:
pd.read_csv(os.path.join("aggregated_country_streams.csv"))

,Unnamed: 0,streams,streams.1,streams.2,streams.3,streams.4,streams.5,streams.6,streams.7,streams.8,...,streams.16,streams.17,streams.18,streams.19,streams.20,streams.21,streams.22,streams.23,streams.24,mean
0,country,AUT,BEL,BGR,CYP,CZE,DEU,DNK,ESP,EST,...,LTU,LUX,LVA,NLD,POL,PRT,ROU,SVK,SWE,NaN
1,date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-08-24,10301612,12348795,985485,328417,4869155,142899503,24716696,98020022,1438969,...,1420563,736943,1507392,67114943,25430818,8730023,1958986,1745234,51913587,31920100.0
3,2018-08-31,9508616,12634840,1136095,384379,5207132,148764686,25975199,98106210,1498797,...,1465384,796085,1629058,75928950,24843040,9444484,2391996,2024877,55020209,33699774.0
4,2018-09-07,9717264,12538824,1043073,340697,5010547,142763299,26251701,93060881,1435962,...,1428749,775400,1602453,80271104,24352976,9183448,2108987,1975851,52755183,33092277.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2020-07-17,12421511,18756779,1652278,672939,8650267,192973906,24857104,129972855,1604794,...,2023396,1098099,1756952,79974559,46932600,12428079,4881788,3702849,51264443,42249122.0
102,2020-07-24,13113467,17877532,1655013,653948,8489350,204359911,24002152,133557551,1622579,...,1944948,1073889,1722492,77735951,46899327,12499879,4717513,3551557,48374556,42651138.0
103,2020-07-31,12969684,18737612,1623495,648896,8505070,210775980,27628788,129858215,1610297,...,2018704,1068540,1720200,77669240,46117945,12343812,4629858,3566775,49724046,42109898.0
104,2020-08-07,12687619,18352306,1640165,661870,8616465,200822741,27084223,125794563,1585776,...,2032788,1048094,1720678,74686908,46965173,12326090,4636635,3936437,49391231,41011437.0
105,2020-08-14,12145822,17885290,1652316,640447,9339769,188445427,27440200,123711360,1725151,...,2049388,1015371,1742771,71135506,44895898,12158946,4635551,3897119,48593257,39585137.0