# Combine streams and lockdown data

In [1]:
import os

import pandas as pd

In [41]:
# import the data
f1, f2 = [os.path.join("..", "02.cleaning", filename)
          for filename in
          ["aggregated_country_streams.pkl", "lockdown_clean.pkl"]]
st = pd.read_pickle(f1)
ld = pd.read_pickle(f2)

In [18]:
st.reset_index(inplace=True)
st.head()

              date   streams                                                 \
country                  AUT       BEL      BGR     CYP      CZE        DEU
0       2018-08-24  10301612  12348795   985485  328417  4869155  142899503
1       2018-08-31   9508616  12634840  1136095  384379  5207132  148764686
2       2018-09-07   9717264  12538824  1043073  340697  5010547  142763299
3       2018-09-14   9794815  12994948  1011482  365756  5432395  151528074
4       2018-09-21   9570905  12930082   971304  358192  5362867  148899467

                                      ...                                      \
country       DNK       ESP      EST  ...      LTU     LUX      LVA       NLD
0        24716696  98020022  1438969  ...  1420563  736943  1507392  67114943
1        25975199  98106210  1498797  ...  1465384  796085  1629058  75928950
2        26251701  93060881  1435962  ...  1428749  775400  1602453  80271104
3        26286642  92130930  1402195  ...  1434227  800165  1603317  79581894
4        25622860  92773802  1377288  ...  1381935  812493  1558056  78606490

                                                            mean
country       POL      PRT      ROU      SVK       SWE
0        25430818  8730023  1958986  1745234  51913587  31920100
1        24843040  9444484  2391996  2024877  55020209  33699774
2        24352976  9183448  2108987  1975851  52755183  33092277
3        24416983  9055023  2152635  1982482  53277596  33763708
4        24437330  9494344  2138312  1969050  52795704  33819316

[5 rows x 27 columns]

In [21]:
st.columns = st.columns.get_level_values(1)
st.columns

Index(['', 'AUT', 'BEL', 'BGR', 'CYP', 'CZE', 'DEU', 'DNK', 'ESP', 'EST',
       'FIN', 'FRA', 'GBR', 'GRC', 'HUN', 'IRL', 'ITA', 'LTU', 'LUX', 'LVA',
       'NLD', 'POL', 'PRT', 'ROU', 'SVK', 'SWE', ''],
      dtype='object', name='country')

In [34]:
st.rename(columns={"": "date"}, inplace=True)

In [35]:
st.columns

Index(['date', 'AUT', 'BEL', 'BGR', 'CYP', 'CZE', 'DEU', 'DNK', 'ESP', 'EST',
       'FIN', 'FRA', 'GBR', 'GRC', 'HUN', 'IRL', 'ITA', 'LTU', 'LUX', 'LVA',
       'NLD', 'POL', 'PRT', 'ROU', 'SVK', 'SWE', 'date'],
      dtype='object', name='country')

In [38]:
st.iloc[:, -1].name = "EU"

In [13]:
ld.reset_index(inplace=True)
ld.rename(columns={"week": "date"}, inplace=True)

In [40]:
st.head()
#pd.merge(st, ld, how="left", on=st.index)

country,date,AUT,BEL,BGR,CYP,CZE,DEU,DNK,ESP,EST,...,LTU,LUX,LVA,NLD,POL,PRT,ROU,SVK,SWE,date
0,2018-08-24,10301612,12348795,985485,328417,4869155,142899503,24716696,98020022,1438969,...,1420563,736943,1507392,67114943,25430818,8730023,1958986,1745234,51913587,31920100
1,2018-08-31,9508616,12634840,1136095,384379,5207132,148764686,25975199,98106210,1498797,...,1465384,796085,1629058,75928950,24843040,9444484,2391996,2024877,55020209,33699774
2,2018-09-07,9717264,12538824,1043073,340697,5010547,142763299,26251701,93060881,1435962,...,1428749,775400,1602453,80271104,24352976,9183448,2108987,1975851,52755183,33092277
3,2018-09-14,9794815,12994948,1011482,365756,5432395,151528074,26286642,92130930,1402195,...,1434227,800165,1603317,79581894,24416983,9055023,2152635,1982482,53277596,33763708
4,2018-09-21,9570905,12930082,971304,358192,5362867,148899467,25622860,92773802,1377288,...,1381935,812493,1558056,78606490,24437330,9494344,2138312,1969050,52795704,33819316