# Combine streams and lockdown data

In [138]:
import os

import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [114]:
# import the data
f1, f2 = [os.path.join("..", "02.cleaning", filename)
          for filename in
          ["aggregated_country_streams.pkl", "lockdown_clean.pkl"]]
st = pd.read_pickle(f1)
ld = pd.read_pickle(f2)

In [115]:
st.reset_index(inplace=True)
st.head()

              date   streams                                                 \
country                  AUT       BEL      BGR     CYP      CZE        DEU
0       2018-08-24  10301612  12348795   985485  328417  4869155  142899503
1       2018-08-31   9508616  12634840  1136095  384379  5207132  148764686
2       2018-09-07   9717264  12538824  1043073  340697  5010547  142763299
3       2018-09-14   9794815  12994948  1011482  365756  5432395  151528074
4       2018-09-21   9570905  12930082   971304  358192  5362867  148899467

                                      ...                                      \
country       DNK       ESP      EST  ...      LTU     LUX      LVA       NLD
0        24716696  98020022  1438969  ...  1420563  736943  1507392  67114943
1        25975199  98106210  1498797  ...  1465384  796085  1629058  75928950
2        26251701  93060881  1435962  ...  1428749  775400  1602453  80271104
3        26286642  92130930  1402195  ...  1434227  800165  1603317  79581894
4        25622860  92773802  1377288  ...  1381935  812493  1558056  78606490

                                                            mean
country       POL      PRT      ROU      SVK       SWE
0        25430818  8730023  1958986  1745234  51913587  31920100
1        24843040  9444484  2391996  2024877  55020209  33699774
2        24352976  9183448  2108987  1975851  52755183  33092277
3        24416983  9055023  2152635  1982482  53277596  33763708
4        24437330  9494344  2138312  1969050  52795704  33819316

[5 rows x 27 columns]

In [116]:
st.columns = st.columns.get_level_values(1)

In [117]:
col_names = list(st.columns)
col_names[0] = "date"
col_names[-1] = "streams"
col_names

['date',
 'AUT',
 'BEL',
 'BGR',
 'CYP',
 'CZE',
 'DEU',
 'DNK',
 'ESP',
 'EST',
 'FIN',
 'FRA',
 'GBR',
 'GRC',
 'HUN',
 'IRL',
 'ITA',
 'LTU',
 'LUX',
 'LVA',
 'NLD',
 'POL',
 'PRT',
 'ROU',
 'SVK',
 'SWE',
 'streams']

In [118]:
st.columns = col_names
st.columns

Index(['date', 'AUT', 'BEL', 'BGR', 'CYP', 'CZE', 'DEU', 'DNK', 'ESP', 'EST',
       'FIN', 'FRA', 'GBR', 'GRC', 'HUN', 'IRL', 'ITA', 'LTU', 'LUX', 'LVA',
       'NLD', 'POL', 'PRT', 'ROU', 'SVK', 'SWE', 'streams'],
      dtype='object')

In [119]:
to_drop = col_names[1: -1]
st.drop(columns=to_drop, inplace=True)

In [124]:
st.head()

        date   streams
0 2018-08-24  31920100
1 2018-08-31  33699774
2 2018-09-07  33092277
3 2018-09-14  33763708
4 2018-09-21  33819316

## Clean structure of lockdown table

In [120]:
ld.reset_index(inplace=True)

In [132]:
ld["date"] = pd.to_datetime(ld["date"])

dtype('<M8[ns]')

In [121]:
col_names[-1] = "stringency"
ld.columns = col_names
ld.drop(columns = to_drop, inplace=True)

In [122]:
ld.head()

         date  stringency
0  2020-01-03         0.0
1  2020-01-10         0.0
2  2020-01-17         0.0
3  2020-01-24         0.9
4  2020-01-31         3.7

In [134]:
merg = pd.merge(st, ld, how='left', on='date')
merg.head()

        date   streams  stringency
0 2018-08-24  31920100         NaN
1 2018-08-31  33699774         NaN
2 2018-09-07  33092277         NaN
3 2018-09-14  33763708         NaN
4 2018-09-21  33819316         NaN

## Export data

In [140]:
merg.to_csv("merged_data.csv")
merg.to_pickle("merged_data.pkl")